body {
    margin: 0;
    background-color: #f2eee4;
}

/* Image Stuff */
.logo-resize {
    width: 50px;
    height: auto;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    font-size: 20pt;
    background-color: #ced1c2;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.navbar-item {
    background: none;
    border: none;
    text-decoration: none;
    color: #2e302f;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    margin: 10px;
}

.dropdown.active > .navbar-item,
.navbar-item:hover {
    color: #56685f;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    background-color: #f2eee4;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-30px);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.dropdown.active > .navbar-item + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-heading{
    font-size: 16pt;
    font-weight: bold;
    color: inherit;
}

.dropdown-links {
    font-size: 14pt;
    margin-left: 6px;
    text-decoration: none;
    color: #2e302f;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #aaaf94;
}